[mysqld]
port = 3306
bind-address = 127.0.0.1
socket = /opt/homebrew/var/mysql/mysql.sock
datadir = /opt/homebrew/var/mysql
log-error = /opt/homebrew/var/mysql/error.log
pid-file = /opt/homebrew/var/mysql/mysql.pid

# Disable problematic X Plugin
skip-networking = 0

[client]
port = 3306
socket = /opt/homebrew/var/mysql/mysql.sock

[mysql]
no-auto-rehash
